html,
body,
#root,
.App {
  min-height: 100%;
}

.App {
  text-align: center;
  background: url(./bg.jpg) repeat white;
  margin: auto;
  padding: 0;
  position: relative;
  min-height: 100vh;
}

#select {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  outline: none;
  background: none;
  border: none;
  font-size: 2vw;
  color: white;
}

.files {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  margin: 0;
  padding: 2vw;
}

.files li {
  position: relative;
  list-style: none;
  margin: 2vw;
}

.files img {
  max-width: 13vw;
  height: auto;
}

.files img:hover {
  transform: scale(1.05);
  transition: 0.2s;
}

.delete_img_btn {
  position: absolute;
  top: -1vw;
  right: -1vw;
  color: white;
  outline: none;
  padding: 0.3rem;
  text-align: center;
  font-size: 0.9rem;
  border-radius: 100px;
  background: rgb(155, 52, 52);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.delete_all_btn {
  position: fixed;
  background: rgba(155, 52, 52, 0.7);
  border: none;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  color: white;
  z-index: 10;
  outline: none;
  font-size: large;
}

.delete_img_btn:hover,
.delete_all_btn:hover {
  background: rgb(192, 31, 31);
  transform: scale(1.1);
  transition: 0.1s;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 20;
}
.photo {
  max-width: 90%;
  max-height: 90vh;
  height: auto;
  margin: auto;
  margin-top: 10%;
  z-index: 30;
}

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
